.header {
   text-align: center;
   margin: 30px;
   display: flex;
   justify-content: space-between;
}

.btn_right {
   display: flex;
   gap: 0 10px;
}

.link {
   text-decoration: none;
}

.logo {
   width: 100px;
   height: 100px;
   object-fit: cover;
}